{% macro institution_block(institution1, institution2, label1, label2) -%}
<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      {% if savegame_dict[institution1] and savegame_dict[institution2] %}
        <h4 class="card-text">{{label2}}: {{savegame_dict[institution1].year}}-{{savegame_dict[institution2].year}}</h4>
      {% elif savegame_dict[institution1] %}
        <h4 class="card-text">{{label2}}: {{savegame_dict[institution1].year}}-???</h4>
      {% else %}
        <h4 class="card-text">{{label2}}: ???-???</h4>
      {% endif %}
    </div>
    {% if savegame_dict[institution2].map_file %}
      <div class="media">
        <img src="/static/maps/{{savegame_dict[institution2].map_file}}" class="img-responsive fit-image">
      </div>
    {% endif %}
    <div class="text-center">
      {% if savegame_dict[institution1] and savegame_dict[institution2] %}
      <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('show_stats.parse', sg_id1 = savegame_dict[institution1].id, sg_id2 = savegame_dict[institution2].id, part = 0 )}}">View</a>
      {% endif %}
      {% if current_user == current_mp.admin %}
        {% if savegame_dict[institution1] %}
          {% if savegame_dict[institution2] %}
            {% if not savegame_dict[institution2].map_file %}
              <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_map', sg_id = savegame_dict[institution2].id)}}">Add Map</a>
            {% endif %}
            <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegame_dict[institution1].id)}}">Delete {{label1}}</a>
            <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegame_dict[institution2].id)}}">Delete {{label2}}</a>
        {% else %}
          <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegame_dict[institution1].id)}}">Delete {{label1}}</a>
          <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id, institution = institution2)}}">Add {{label2}}</a>
        {% endif %}
      {% elif savegame_dict[institution2] %}
        <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id, institution = institution1)}}">Add {{label1}}</a>
        <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegame_dict[institution2].id)}}">Delete {{label2}}</a>
      {% else %}
        <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id, institution = institution1)}}">Add {{label1}}</a>
        <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id, institution = institution2)}}">Add {{label2}}</a>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}

{% macro savegame_block(index) -%}
<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      {% if savegames[index] and savegames[index + 1] %}
        <h4 class="card-text">Spieltag {{index + 1}}: {{savegames[index].year}}-{{savegames[index + 1].year}}</h4>
      {% elif savegames[index] %}
        <h4 class="card-text">Spieltag {{index + 1}}: {{savegames[index].year}}-???</h4>
      {% else %}
        <h4 class="card-text">Spieltag {{index + 1}}: ???-???</h4>
      {% endif %}
    </div>
    {% if savegames[index] %}
      {% if savegames[index].map_file %}
        <div class="media">
          <img src="/static/maps/{{savegames[index].map_file}}" class="img-responsive fit-image">
        </div>
      {% endif %}
    {% endif %}
    <div class="text-center">
      {% if savegames[index] and savegames[index + 1] %}
      <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('show_stats.parse', sg_id1 = savegames[index].id, sg_id2 = savegames[index + 1].id, part = 0 )}}">View</a>
      {% endif %}
      {% if current_user == current_mp.admin %}
        {% if savegames[index] %}
          {% if savegames[index + 1] %}
            {% if not savegames[index + 1].map_file %}
              <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_map', sg_id = savegames[index + 1].id)}}">Add Map</a>
            {% endif %}
            <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegames[index + 1].id)}}">Delete Session {{index + 1}}</a>
            <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegames[index].id)}}">Delete Session {{index}}</a>
        {% else %}
          <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegames[index].id)}}">Delete Session {{index}}</a>
          <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id)}}">Add Session {{index + 1}}</a>
        {% endif %}
      {% elif savegames[index + 1] %}
        <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id)}}">Add Session {{index}}</a>
        <a class="btn btn-outline-danger btn-center mt-2 mb-2" href = "{{url_for('main.delete_savegame', sg_id = savegames[index + 1].id)}}">Delete Session {{index + 1}}</a>
      {% else %}
        <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id)}}">Add Session {{index}}</a>
        <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main.upload_one_savegame', mp_id = current_mp.id)}}">Add Session {{index + 1}}</a>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% extends "main/home_layout.html" %}
{% block content %}
<div class = "row" >
  <div class="col-md-2">
    <div class="content-section">
      <h3><center>Organisation</center></h3>
      <ul class="list-group">
        {% if current_mp.gm %}
          <li class="list-group-item list-group-item-dark">Spielleiter: {{current_mp.gm}}</li>
        {% endif %}

        {% if current_mp.host %}
          <li class="list-group-item list-group-item-dark">Host: {{current_mp.host}}</li>
        {% endif %}

        {% if current_mp.next_gameday %}
          <li class="list-group-item list-group-item-dark">Nächster Spieltag: {{current_mp.next_gameday}}</li>
        {% endif %}

        {% if current_mp.checksum %}
          <li class="list-group-item list-group-item-dark">Checksumme: {{current_mp.checksum}}</li>
        {% endif %}
      </ul>
    </div>
    <div class="content-section">
      <h3><center>Die 10 Gebote:</center></h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ1">§ Z 1: Der Spieler</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ2">§ Z 2: Die Spielleitung</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ3">§ Z 3: Pünktlichkeits-Belohnung /<br> Verspätungs-Bestrafung</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ4">§ Z 4: Fehlen am Spieltag /<br> Ausfall des Spieltages</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ5">§ Z 5: Ehrenvolle Kriegsführung</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ6">§ Z 6: Raus aus der Bratpfanne, rein ins Feuer</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ7">§ Z 7: Pausen & Spielgeschwindigkeit</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ8">§ Z 8: MP-Mod (aka. Bündnissperre)</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ9">§ Z 9: Statistiken</li>
        <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalZ10">§ Z 10: Nicht alles machen was geht</li>
      </ul>

    </div>
  </div>
  <div class="col-md-8">
    <div class = "container">
      <section class="jumbotron text-center">
        <div class="container">
          <h1>{{current_mp.name}}</h1>
          <p class="lead text-muted">{{current_mp.description}}</p>
          <p>
            <a href="{{url_for('main.latest_stats', mp_id = current_mp.id)}}" class="btn btn-primary my-2">Aktuellste Statistik</a>
            <a href="{{url_for('main.total_victory_points', mp_id = current_mp.id)}}" class="btn btn-secondary my-2">Siegpunkte</a>
          </p>
          <p>
            {% if current_user == current_mp.admin %}
              <a href="{{url_for('main.upload_one_savegame', mp_id = current_mp.id)}}" class="btn btn-secondary my-2">Aktuelle Statistik hochladen</a>
              {% if current_mp.teams_setting %}
                <a href="{{url_for('main.configure_teams', mp_id = current_mp.id)}}" class="btn btn-secondary my-2">Teams konfigurieren</a>
              {% endif %}
            {% endif %}
          </p>
        </div>

      </section>
      {% if current_mp.institutions %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% if savegame_dict["colonialism"] or current_user == current_mp.admin %}
              {{ institution_block("basesave", "colonialism", "Start-Save", "Kolonialismus") }}
            {% endif %}
            {% if savegame_dict["printing_press"] or current_user == current_mp.admin %}
              {{ institution_block("colonialism", "printing_press", "Kolonialismus", "Druckerpresse") }}
            {% endif %}
            {% if savegame_dict["global_trade"] or current_user == current_mp.admin %}
              {{ institution_block("printing_press", "global_trade", "Druckerpresse", "Globaler Handel") }}
            {% endif %}
          </div>
          <div class="row">
            {% if savegame_dict["manufactories"] or current_user == current_mp.admin %}
              {{ institution_block("global_trade", "manufactories", "Globaler Handel", "Manufakturen") }}
            {% endif %}
            {% if savegame_dict["enlightenment"] or current_user == current_mp.admin %}
              {{ institution_block("manufactories", "enlightenment", "Manufakturen", "Aufklärung") }}
            {% endif %}
            {% if savegame_dict["industrialization"] or current_user == current_mp.admin %}
              {{ institution_block("enlightenment", "industrialization", "Aufklärung", "Industrialisierung") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            {% if savegame_dict["endsave"] or current_user == current_mp.admin %}
              {{ institution_block("industrialization", "endsave", "Industrialisierung", "MP-Ende") }}
            {% endif %}
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="album py-5 bg-light">
        <div class="container">
          {% for i in range(counter//3+1) %}
          <div class="row">
            {% for j in range(3*i,counter + 1) %}
              {{ savegame_block(j) }}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if current_mp.map_file %}
        <div class="album py-5 bg-light mt-4">
          <h4 class="card-text mb-4"><center> Siegpunkte - Provinzenübersicht </center></h4>
          <div class="media">
            <img src="/static/maps/{{current_mp.map_file}}" class="img-responsive fit-image">
          </div>
          {% if current_user == current_mp.admin %}
            <center><a class="btn btn-outline-danger btn-center mt-2 mb-2"\
                        href = "{{url_for('main.delete_mp_map', mp_id = current_mp.id)}}">Delete</a></center>
          {% endif %}
        </div>
        {% else %}
          {% if current_user == current_mp.admin %}
            <center><a class="btn btn-outline-secondary btn-center mt-2 mb-2"\
                        href = "{{url_for('main.add_mp_map', mp_id = current_mp.id)}}">Add Map</a></center>
          {% endif %}
        {% endif %}
      {% if current_mp.current_map_file %}
        <div class="album py-5 bg-light mt-4">
          <h4 class="card-text mb-4"><center> Aktuelle Karte </center></h4>
          <div class="media">
            <img src="/static/maps/{{current_mp.current_map_file}}" class="img-responsive fit-image">
          </div>
          {% if current_user == current_mp.admin %}
            <center><a class="btn btn-outline-danger btn-center mt-2 mb-2"\
                        href = "{{url_for('main.delete_current_mp_map', mp_id = current_mp.id)}}">Delete</a></center>
          {% endif %}
        </div>
        {% else %}
          {% if current_user == current_mp.admin %}
            <center><a class="btn btn-outline-secondary btn-center mt-2 mb-2"\
                        href = "{{url_for('main.add_current_mp_map', mp_id = current_mp.id)}}">Add Current Map</a></center>
          {% endif %}
        {% endif %}

    </div>
  </div>
  <div class="col-md-2">
    {% if current_mp.teams_setting %}
      <div class="content-section">
        <h3><center>Teams</center></h3>
        <ul class="list-group">
          {% for team in teams %}
            <li class="list-group-item list-group-item-dark">Team {{team.id}}</li>
            <ul class = "list-group">
              <li class="list-group-item list-group-item-light">
                {{nation_names_dict[team.team_tag1]}}: {{names_dict[nation_names_dict[team.team_tag1]]}}
              </li>
              <li class="list-group-item list-group-item-light">
                {{nation_names_dict[team.team_tag2]}}: {{names_dict[nation_names_dict[team.team_tag2]]}}
              </li>
            </ul>

          {% endfor %}
        </ul>
      </div>
    {% else %}
    <div class="content-section">
      <h3><center>Spieler</center></h3>
        <ul class="list-group">
          {% for nation in names_dict.keys() %}
            <li class="list-group-item list-group-item-dark">{{nation}}: {{names_dict[nation]}}</li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if current_mp.victory_points %}
      {% if current_mp.teams_setting %}
      <div class="content-section">
        <h3><center>Siegpunkte - Regeln</center></h3>
        Das Ziel des MP ist es 10 Siegpunkte zu erreichen. <br>
        Siegpunkte können durch Provinzen erobert werden, zusätzlich werden
        zu jeder Institution ab 1500 zwei Siegpunkte vergeben. <br>
        Außerdem gibt es jeweils einen Siegpunkt für den ersten gewonnenen Spielerkrieg,
        sowie für den Spawn von Global Trade. <br>
        <center> <h4> Vergabe: </h4> </center>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS5"> Provinzen</li>
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS6"> Zu jeder Institution</li>
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS7"> Rest</li>
        </ul>
      </div>
      {% else %}
      <div class="content-section">
        <h3><center>Siegpunkte - Regeln</center></h3>
        Das Ziel des MP ist es 10 Siegpunkte zu erreichen. <br>
        Jede Nation startet mit 2 Basispunkten und kann durch Aufbau der Nation
        sowie kriegerische Unternehmungen sich Siegpunkte sichern. <br>
        <center> <h4> Vergabe: </h4> </center>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS1"> Einmalig</li>
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS2"> Zu jeder Institution</li>
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS3"> Kontinuerlich</li>
          <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#ModalS4"> Kriege</li>
        </ul>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>


<div class="modal fade" id="ModalZ1" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ1">§ Z 1: Der Spieler</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-group">
          <li class="list-group-item list-group-item-light">Z1.1 Eigenschaften von Spielern</li>
          <ul class = "list-subgroup">
            <li class="list-subgroup-item list-subgroup-item-light">
              Gesucht werden zuverlässige Spieler, welche verlieren können und nicht direkt nach Rückschlägen aufgeben.
            </li>
          </ul>
          <li class="list-group-item list-group-item-light">Z 1.2 Pflichten der Spieler</li>
          <ul class = "list-subgroup">
            <li class="list-subgroup-item list-subgroup-item-light">
              Die Regeln sind stehts einzuhalten und ein Regelbruch wird streng geahndet.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Jedes Fehlen ist am Vortag anzukündigen.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Pünktlichkeit.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Jedes Fehlen ist am Vortag anzukündigen.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Jeder Spieler ist für seine KI Einstellungen selbst verantwortlich.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Bei ständigen Verbindungsproblemen muss ein Spieler den MP verlassen.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Es wird ein gepflegter Umgang im Teamspeak/Discord und Chat erwartet. Persönliche Angriffe sind zu unterlassen.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Aussagen anderer Spieler sollten nicht persönlich genommen und als diplomatische Handlung angesehen werden.
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Für eine moralische Diskussionen ist der Diplomatiefaden und nicht der Hauptfaden zu nutzen.
            </li>
          </ul>
          <li class="list-group-item list-group-item-light">Z 1.3 Rechte der Spieler</li>
          <ul class = "list-subgroup">
            <li class="list-subgroup-item list-subgroup-item-light">
              Ist ein Spieler mit Entscheidungen der Spielleitung unzufrieden kann er sich beim anderen Spielleiter oder einem Vertrauensspieler beschweren.
            </li>
          </ul>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ2" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ2">§ Z 2: Die Spielleitung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Die Aufgabe des Spielleiters ist die Verwaltung und Leitung des Multiplayers.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Der Spielleiter verpflichtet sich in Regelfragen stets neutral zu bleiben und jede Situation objektiv zu betrachten.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Bei unklarer Auslegung einer Regel entscheidet der Spielleiter über die Auslegung und mögliche Konsequenzen.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Die Spielleitung kann nach Ankündigung und Begründung neue Regeln einführen oder alte verändern. Ist ein Spielleiter betroffen oder befangen entscheidet der zweite Spielleiter.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Der Spielleiter kann bei Fehlverhalten von Spielern Strafen aussprechen.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Die Standardbestrafung bei geringfügigen Vergehen: <br>
            - 1 Stabilität <br>
            - 10 Prestige <br>
            - Goldstrafe (-30% der Jahreseinnahmen) <br>
            Sollte nach einer Strafe keine Vernunft einkehren, wird die Strafe einfach mehrfach vergeben (2x, 3x, 4x...).
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalZ3" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ3">§ Z 3: Pünktlichkeits-Belohnung /<br> Verspätungs-Bestrafung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Ein Spieler ist verspätet, genau dann wenn der Spieler um 18:31 nicht in der Lobby bereit ist.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Ein Spieler ist pünktlich, genau dann wenn der Spieler um 18:15 im TS/Discord anwesend ist.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Jeder pünktliche Spieler erhält die einfache Belohnung.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Jeder verspätete Spieler erhält eine Bestrafung.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Bei wiederholten Verspätungen behält sich die Spielleitung das Recht vor, die Strafe zu verschärfen.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Sollte ein Spieler sowohl pünktlich, als auch verspätet sein, erhält er weder Belohnung noch Bestrafung.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ4" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ4" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ4">§ Z 4: Fehlen am Spieltag / <br> Ausfall des Spieltages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Beim Fehlen eines Spielers übernimmt die KI, bei zu vielen fehlenden Ländern entscheidet die Spielleitung, ob der Spieltag ausfällt. Für eine eventuelle Vertretung muss eigenständig gesorgt werden.
          <li class="list-subgroup-item list-subgroup-item-light">
            Es dürfen keine Angriffskriege gegen KI-gesteuerte Spielernationen begonnen werden. In anderen Kriegen sollte bei Kriegsforderungen gegen diese Nationen Rücksicht genommen werden (keine Provinzforderungen).
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Wird ein Land das zweite Mal in Folge von der KI gesteuert, verfällt dieser Schutz.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Stürzt bei einem Spieler das Spiel ab, wird er auf "braindead" gestellt und kann so bald wie möglich hotjoinen.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ5" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ5">§ Z 5: Ehrenvolle Kriegsführung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Parallele Kriege gegen eine Partei sind immer separat zu behandeln. Dabei ist besonders das In-laufende-Schlachten-Stellen von Drittparteien verboten.
          <li class="list-subgroup-item list-subgroup-item-light">
            Das Blockieren des Aufhebens von Militärzugängen, durch die Dauerstationierung von Truppen, ist verboten.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Das Ausnutzen des Exil-Status um Truppen an einen auf normalem Wege nicht erreichbaren Ort zu befördern, ist verboten.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Ohne Zustimmung des Spielers darf nicht über eine KI-Nation vom Spieler etwas gefordert werden.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Friedensgesuche der verlierenden Kriegspartei sind zu respektieren.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Das Weiterführen von Kriegen, das einzig dazu da ist, Länder im Chaos versinken zu lassen, ist untersagt.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Wenn ein Kriegsführer bedingungslos kapituliert, darf gegen Co-Kriegsziele (die mit dem X) weiter gekämpft werden um eventuelle Forderungen durchzudrücken. Wenn ein Nicht-Kriegsführer kapituliert, muss ihm ein (Seperat-)Friedensangebot unterbreitet werden.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Betrug bei beidseitig vereinbarten Friedensverträgen ist verboten (zB. senden von abweichenden Forderungen nach festen Verhandlungen).
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ6" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ6" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ6">§ Z 6: Raus aus der Bratpfanne, rein ins Feuer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Wird das Land eines Spielers vernichtet, darf er sich, nach Absprache mit der Spielleitung, ein neues Land aussuchen. Beim Spielen von Untertanen ist die Freiheitsstrebenmechanik zu beachten.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ7" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ7" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ7">§ Z 7: Pausen & Spielgeschwindigkeit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Pausen sind generell verboten! Ausnahmen nur nach Spielleiterentscheidung.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Standardgeschwindigkeit: 3
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Geschwindigkeit bei Spielerkriegen: 2
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            In Ausnahmefällen: 1
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ8" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ8" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ8">§ Z 8: MP-Mod (aka. Bündnissperre)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Wir spielen mit einer eigenen Mod, welche dem Spielleiter ein Menü für Bestrafungen und Belohnungen zur Verfügung stellt. Außerdem wird die Bündnissperre durch die Friedensforderung "Verträge aufkündigen" von 10 auf 25 Jahre erhöht. Ein Umgehen dieser Sperre, beispielsweise durch Tributstaaten, ist verboten.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalZ9" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ9" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ9">§ Z 9: Statistiken</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Auch dieses MP wird es wieder Statistiken beim Spawn jeder Institution geben.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Mit der Teilnahme am MP erklärt sich der Spieler bereit dazu, die Daten
            seines Landes für die Statistik auswerten zu lassen.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalZ10" tabindex="-1" role="dialog" aria-labelledby="ModalLabelZ10" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelZ10">§ Z 10: Nicht alles machen was geht</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            Das Nutzen von Exploits und schummeln ist verboten.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Im Zweifelsfall ist im Vorhinein die Spielleitung zu kontaktieren.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Insbesondere ist verboten als freigelassene Kolonialnation weiterzuspielen.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalS1" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS1">Einmalige Siegpunkte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Diese Siegpunkte werden einmalig zu einem festen Zeitpunkt vergeben und gelten für das ganze MP.
        <ul class = "list-group">
          <li class = "list-group-item">
            1 Siegpunkt jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                Erster gewonnener Spielerkrieg
              </li>
            </ul>
          </li>
          <li class = "list-group-item">
            2 Siegpunkte jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                Erster Spieler mit 100% Armee-Professionalität
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                Erste Weltumseglung
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                Globaler Handel - größte Handelsmacht im größten Handelsknoten
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                Manufakturen - Produktionsführer in meisten Kategorien; mindestens 3
              </li>
              <li class = "list-subgroup-item list-subgroup-item-light">
                Aufklärung - höchste Innovativität; mindestens 50
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalS2" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS2">Siegpunkte zu jeder Institution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ab dem Spawn von Kolonialismus (1500) wird zu jeder Institution in verschiedenen
        Kategorien Siegpunkte vergeben:
        <ul class = "list-group">
          <li class = "list-group-item">
            1 Siegpunkt jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                höchst-entwickelte Provinz; mind. 50 Entwicklung, kann nur einmal pro Provinz erhalten werden
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                größtes stehendes Heer ; mind. 100K
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                größte Flotte (gemessen nach Anzahl Kanonen) ; mind. 2000 Kanonen
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                höchste Armeeverluste im Kampf seit dem letzten Institutionsspawn (i. d. R. 50 Jahre), mind. 500K
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalS3" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS3">Siegpunkte zu jeder Institution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Diese Siegpunkte wechseln kontinuerlich den Besitzer und gelten nur solange
        wie die Bedingung für den Siegpunkt erfüllt ist.
        <ul class = "list-group">
          <li class = "list-group-item">
            1 Siegpunkt jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                Großmacht Nummer 1
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                beliebige Hegemonie bei 0%
              </li>
            </ul>
          </li>
          <li class = "list-group-item">
            2 Siegpunkte jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                beliebige Hegemonie bei 100%
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalS4" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS4" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS4">Siegpunkte durch Kriege</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Damit das MP nicht nur zu einem SimCityContest verfällt,
        gibt es natürlich auch die Möglichkeit sich Siegpunkte kriegerisch zu erkämpfen.
        Dabei ist der Krieg um Siegpunkt ein Nullsummenspiel.
        Pro Siegpunkt den der Sieger erhält, verliert der Verlierer einen.
        Dabei gelten folgende Regeln:

        <ul class = "list-subgroup">
          <li class="list-subgroup-item list-subgroup-item-light">
            In einem Krieg kann nur der Hauptangreifer vom Hauptverteidiger einen Siegpunkt fordern.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Ein Siegpunkt kostet 80% (fiktive) Warscore, also dürfen neben einem Siegpunkt maximal 20% zusätzliche Forderungen gestellt werden.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Ausnahme: Wenn die verlierende Partei bereits mindestens 8 Siegpunkte gesammelt hat, kann in einem Krieg für 80% 2 Siegpunkte oder für 40% 1 Siegpunkt gefordert werden.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Jeder Spieler kann pro Spieler und Spieltag nur 1 Siegpunkt erhalten (bzw. im Ausnahmefall 2), sehr wohl aber von mehreren Spielern an einem Spieltag.
          </li>
          <li class="list-subgroup-item list-subgroup-item-light">
            Von einem Spieler mit 0 Siegpunkten können keine Siegpunkte gewonnen werden.
          </li>
        </ul>

        <h5>Beispiel:</h5>
        Nation A (6 Siegpunkte) greift Nation B (7 Siegpunkte) an und gewinnt.
        Danach darf Nation A am selben Spieltag noch Nation C für einen Siegpunkt angreifen und Nation C darf auch noch einen Siegpunkt von Nation B erkämpfen.
        Ebenso darf Nation B von Nation A den Siegpunkt zurückfordern, falls Nation B den Revanchekrieg jedoch verliert,
        kann Nation A keinen zusätzlichen Siegpunkt gewinnen, sondern muss sich auf die Standard-EU4-Forderungen beschränken.
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalS5" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS5">Siegpunkte durch Provinzen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-group">
          <li class="list-group-item list-group-item-light">2 Siegpunkte</li>
          <ul class = "list-subgroup">
            <li class="list-subgroup-item list-subgroup-item-light">
              Damaskus
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Lissabon
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Majorca
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Sofia
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Maine
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Lübeck
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Warschau
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Moskau
            </li>
          </ul>
          <li class="list-group-item list-group-item-light">1 Siegpunkte</li>
          <ul class = "list-subgroup">
            <li class="list-subgroup-item list-subgroup-item-light">
              Kairo
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Granada
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Konstantinopel
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Tunis
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Porto
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Finistère
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Paris
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Berlin
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Pest
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Bessarabien
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Ostjylland
            </li>
            <li class="list-subgroup-item list-subgroup-item-light">
              Königsberg
            </li>
          </ul>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalS6" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS6" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS6">Siegpunkte zu jeder Institution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ab dem Spawn von Kolonialismus (1500) wird zu jeder Institution in verschiedenen
        Kategorien Siegpunkte vergeben:
        <ul class = "list-group">
          <li class = "list-group-item">
            1 Siegpunkt jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                höchst-entwickelte Provinz, kann nur einmal pro Provinz erhalten werden
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                höchste Armeeverluste im Kampf (im Team zusammen) seit dem letzten Institutionsspawn (i. d. R. 50 Jahre)
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalS7" tabindex="-1" role="dialog" aria-labelledby="ModalLabelS7" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelS7">Rest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class = "list-group">
          <li class = "list-group-item">
            1 Siegpunkt jeweils:
            <ul class = "list-subgroup">
              <li class="list-subgroup-item list-subgroup-item-light">
                Erster Spielerkrieg-Sieg
              </li>
              <li class="list-subgroup-item list-subgroup-item-light">
                Spawn von Global Trade
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
