{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
  <fieldset class = "form-group">
    <legend class = "border-bottom mb-4">Select the savegames you want to compare</legend>
    <div class = "form-group">
      {{ form.savegame1.label(class = "form-control_label")}}

      {% if form.savegame1.errors %}
        {{ form.savegame1(class = "form-control form-control-lg is-invalid")}}
        <div class = "invalid-feedback">
          {% for error in form.savegame1.errors %}
            <span>{{error}}</span>
          {% endfor %}
      {% else %}
        {{ form.savegame1(class = "form-control form-control-lg")}}
      {% endif %}
    </div>
    <div class = "form-group">
      {{ form.savegame2.label(class = "form-control_label")}}
      {% if form.savegame2.errors %}
        {{ form.savegame2(class = "form-control form-control-lg is-invalid")}}
        <div class = "invalid-feedback">
          {% for error in form.savegame2.errors %}
            <span>{{error}}</span>
          {% endfor %}
      {% else %}
        {{ form.savegame2(class = "form-control form-control-lg")}}
      {% endif %}
    </div>
  </fieldset>
  <div class = "form-group">
    {{ form.submit(class = "btn btn-outline-info")}}
  </div>
</div>
{% endblock content %}
