{% extends "show_stats_layout.html" %}
{% block content %}
<script src="{{url_for('main.colorize')}}"></script>
<table class = "table table-bordered mydatatable" style = "width: 90%">
  <thead>
    <tr>
      {% for label in header_labels%}
      <th bgcolor = "white">{{label}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in data%}
    <tr>
      {% for name in columns %}
      {% if row[name][1].hsl[2] > 0.5 %}
        <td bgcolor = "{{row[name][1]}}" style="color:black">{{row[name][0]}}</td>
      {% else %}
        <td bgcolor = "{{row[name][1]}}" style="color:white">{{row[name][0]}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<table style="width: 33%; margin: 0 auto 2em auto;" cellspacing="0" cellpadding="3" border="0">
  <thead>
    <tr>
      <th>Column</th>
      <th>Search</th>
    </tr>
  </thead>
  <tbody>
    <tr id="filter_col2" data-column="1">
      <td>Angreifer</td>
      <td align="left"><input type="text" class="column_filter" id="col1_filter"></td>
    </tr>
    <tr id="filter_col8" data-column="7">
      <td>General - Angreifer</td>
      <td align="left"><input type="text" class="column_filter" id="col7_filter"></td>
    </tr>
    <tr id="filter_col9" data-column="8">
      <td>Verteidiger</td>
      <td align="left"><input type="text" class="column_filter" id="col8_filter"></td>
    </tr>
    <tr id="filter_col15" data-column="14">
      <td>General - Verteidiger</td>
      <td align="left"><input type="text" class="column_filter" id="col14_filter"></td>
    </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
  function filterColumn ( i ) {
    $('.mydatatable').DataTable().column( i ).search(
    $('#col'+i+'_filter').val(),
    ).draw();
  }
  $(document).ready(function() {
    let order_by = {{order_by|tojson}};
    let title = {{title|tojson}};
    $('.mydatatable').DataTable({"lengthMenu":  [10, 25, 50, -1], "pageLength": -1, "order": [[ order_by, "desc" ]], "dom": 'lf<"toolbar">rtip'});
    $("div.toolbar").html('<center><h3 style="color:black">'+ title + '</h3></center>');
    // Table Heat Map
    console.log($('#player_filter').prop('checked'))
    let arr = {{colorize_columns|tojson}};
    let reverse_arr = {{colorize_columns_rev|tojson}};
    for (let i of arr) {
      $('table tbody td:nth-child(' + i + ')').colorize();
    }
    for (let i of reverse_arr) {
      $('table tbody td:nth-child(' + i + ')').colorize({theme: "reverse"});
    }
    $('input.column_filter').on( 'keyup click', function () {
      filterColumn( $(this).parents('tr').attr('data-column') );
    } );
  });
</script>
{% endblock content %}
