{% extends "home_layout.html" %}
{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Sonntags-MP: S2E2 - Per Aspera Ad Astra</h1>
      <p class="lead text-muted">Statistiken und Siegpunkts-Übersicht für das 17.Sonntags-MP der Strategie-Zone.</p>
      <p>
        <a href="{{url_for('latest_stats', mp_id = 1)}}" class="btn btn-primary my-2">Aktuellste Statistik</a>
        <a href="{{url_for('total_victory_points', mp_id = 1)}}" class="btn btn-secondary my-2">Siegpunkte</a>
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h4 class="card-text">Renaissance: 1444-1450</h4>
            </div>
            <div class="media">
              <img src="/static/maps/1450.png">
            </div>
            <div class="text-center">
              <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main', sg_id1 = 11, sg_id2 = 12, map = '1450.png')}}">View</a>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h4 class="card-text">Kolonialismus: 1450-1508</h4>
              </div>
              <div class="media">
                <img src="/static/maps/1508.png">
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary btn-center mt-2 mb-2">View</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h4 class="card-text">Druckerpresse: 1508-???</h4>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary btn-center mt-2 mb-2">View</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h4 class="card-text">Globaler Handel: ???-???</h4>
              </div>
              <div class="text-center">
                <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main', sg_id1 = 11, sg_id2 = 12, map = '1450.png')}}">View</a>
              </div>
            </div>
          </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h4 class="card-text">Manufakturen: ???-???</h4>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-outline-primary btn-center mt-2 mb-2">View</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h4 class="card-text">Aufklärung: ???-???</h4>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-outline-primary btn-center mt-2 mb-2">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h4 class="card-text">Industrialisierung: ???-???</h4>
                </div>
                <div class="text-center">
                  <a class="btn btn-outline-primary btn-center mt-2 mb-2" href = "{{url_for('main', sg_id1 = 11, sg_id2 = 12, map = '1450.png')}}">View</a>
                </div>
              </div>
            </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <h4 class="card-text">MP-Ende: ???-???</h4>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-primary btn-center mt-2 mb-2">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</main>
{% endblock content %}
