{% extends "main_layout.html" %}
{% block content2 %}
<h1> To ensure that data between is mapped correctly between the savegames,
  enter all nation formations that happened between the savegames below. </h1>
<div id = "table1">
  <table class="table">
      <thead>
        <form class="form-inline" method = "POST" action = "" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <th style="text-align:center">
            {{ form.old_nation.label}}
            {{ form.old_nation}}
          </th>
          <th style="text-align:center">
            {{ form.new_nation.label}}
            {{ form.new_nation}}
          </th>
          <th style="text-align:center">
            <div class="col text-center">
              {{ form.submit(class = "btn btn-outline-info")}}
            </div>
          </th>
        </form>
      </thead>
      <tbody>
          {% for old, new in nation_formations %}
              <tr>
                <td style="text-align:center">{{ old }}</td>
                <td style="text-align:center">{{ new }}</td>
                <td style="text-align:center">
                  <div>
                    <a class="tn btn-danger btn-sm m-1"
                    href = "{{url_for('remove_nation_formation', sg_id1 = sg_id1, sg_id2 = sg_id2, old = old, new = new)}}">Remove</a>
                  </div>
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content2 %}

<form method = "POST" action = "" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <fieldset class = "form-group">
    <div class = "form-group">
      {{ form.old_nation.label}}
      {{ form.old_nation}}
      {{ form.new_nation.label}}
      {{ form.new_nation}}
    </div>
  </fieldset>
<div class = "form-group">
  <div class="col text-center">
    {{ form.submit(class = "btn btn-outline-info")}}
  </div>
</div>
</form>
