{% extends "home_layout.html" %}
{% block content %}
<div class = "content-section">
  <form method = "POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class = "form-group">
      <legend class = "border-bottom mb-4">Select the nation you want to remove</legend>
      <div class = "form-group">
        {{ form.select.label}}
        {{ form.select}}
      </div>
    </fieldset>
  <div class = "form-group">
    {{ form.submit(class = "btn btn-outline-info")}}
  </div>
  </form>
</div>
{% endblock content %}
