{% extends "layout.html" %}
{% block content %}
<h1 style="text-align:center"> Select the nations you want to analyze </h1>
<div class = "content-section">
  <form method = "POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div id = "table1">
      <table class="table">
         <caption style="text-align:center">Nation Tags. Total: {{playertags|length}}</caption>
          <thead>
            <th style="text-align:center">
              <div>
                <a class="btn btn-secondary btn mt-1 mb-1"
                href = "{{url_for('new_nation', sg_id1 = sg_id1, sg_id2 = sg_id2)}}">New Nation</a>
              </div>
            </th>
            <th style="text-align:center">
              <div>
                <a class="tn btn-danger btn mt-1 mb-1"
                href = "{{url_for('remove_all', sg_id1 = sg_id1, sg_id2 = sg_id2)}}">Remove All</a>
              </div>
            </th>
          </thead>
          <tbody>
              {% for tag, label in playertags %}
                  <tr>
                    <td style="text-align:center">{{ label }}</td>
                    <td style="text-align:center">
                      <div>
                        <a class="tn btn-danger btn-sm m-1"
                        href = "{{url_for('remove_nation', sg_id1 = sg_id1, sg_id2 = sg_id2, tag = tag)}}">Remove</a>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>

    <div class = "form-group text-center">
      {{ form.submit(class = "btn btn-outline-info")}}
    </div>
  </form>
</div>
{% endblock content %}
