<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    {% if title %}
      <title>Decla's Statstool - {{title}}</title>
    {% else %}
      <title>Decla's Statstool</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-xl navbar-dark bg-steel fixed-top justify-content-center">
        <div class="container-fluid">
          <a class="navbar-brand mr-4" href="{{url_for('home')}}">Decla's Stats-Tool</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if new_savegame.map_file %}
                <a class="nav-item nav-link"
                href = "{{url_for('show_stats', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Map</a>
              {% else %}
              <a class="nav-item nav-link"
              href = "{{url_for('show_stats', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Home</a>
              {% endif %}
              {% if current_user.is_authenticated and old_savegame.id != new_savegame.id %}
                <a class="nav-item nav-link"
                href = "{{url_for('configure', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Configure</a>
              {% endif %}
              <a class="nav-item nav-link"
              href = "{{url_for('overview_table', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Overview</a>
              <a class="nav-item nav-link"
              href = "{{url_for('development', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Development</a>
              <a class="nav-item nav-link"
              href = "{{url_for('income', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Income</a>
              <a class="nav-item nav-link"
              href = "{{url_for('max_manpower', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Max. Manpower</a>
              <a class="nav-item nav-link"
              href = "{{url_for('army_losses', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Army Losses</a>
              <a class="nav-item nav-link"
              href = "{{url_for('income_over_time', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Income Over Time</a>
              <a class="nav-item nav-link"
              href = "{{url_for('provinces', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Provinces</a>
              <a class="nav-item nav-link"
              href = "{{url_for('army_battles', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Army Battles</a>
              <a class="nav-item nav-link"
              href = "{{url_for('mana_spent', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Mana Spent</a>
              {% if new_savegame.institution %}
                <a class="nav-item nav-link"
                href = "{{url_for('victory_points', sg_id1 = old_savegame.id, sg_id2 = new_savegame.id)}}">Victory Points</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% if new_savegame.map_file %}
    <style>
        body {
        background-image:url('/static/maps/{{new_savegame.map_file}}');
        background-repeat: repeat-y;
        background-size:100% auto;
        opacity: 0.9;
    }
    {% endif %}
    </style>
    <div class = "container-fluid">
      {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="{{url_for('colorize')}}"></script>
  </body>
</html>
